.pointer {
  cursor: pointer;
}

.noPadding {
  padding: 0px;
  background-color: red;
}

.half {
  margin-top: 15%;
}

.centerContainer {
  /* margin-top: -120px; */
  /* background: #cccccc; */
  height: 80vh;
  width: 100vw;
  position: relative;
}
.centerContent {
  /* background: #ffff00; */
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.iconLinkTxt {
  width: 100px;
  margin-top: 20px;
  letter-spacing: 2px;
  cursor: pointer;
  text-transform: uppercase;
}

.cardIconMP {
  padding: 40px;
}

.cardIcon {
  background: rgba(0, 0, 0, 0.4);
  border: 1px solid ghostwhite;
  color: rgb(255, 255, 255, 0.6);
}

.cardIcon:hover {
  background: rgba(255, 1, 1, 0.5);
  color: ghostwhite;
}

.paginationWrapper {
  padding-top: 15px;
  padding-bottom: 15px;
  margin: 20px auto;
  background: rgba(0, 0, 0, 0.4);
}

.moreBtn {
  margin-top: 30px;
  color: whitesmoke;
  border-color: whitesmoke;
  background: rgba(255, 0, 0, 0.4);
}

.moreBtn:hover {
  color: whitesmoke;
  border-color: whitesmoke;
  background: rgba(255, 0, 0, 0.8);
}

.paginationNumber {
  color: whitesmoke;
  border-color: whitesmoke;
  background: rgba(82, 90, 179, 0.4);
}

.paginationNumber:hover {
  color: whitesmoke;
  border-color: whitesmoke;
  background: rgba(255, 0, 0, 0.4);
}

.paperPage {
  padding: 20px;
}

.sideMenuHeding {
  text-align: center;
  padding: 10px;
  margin-bottom: 5px;
  background: rgba(255, 0, 0, 0.8);
  border: 1px solid ghostwhite;
  color: whitesmoke;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.sideMenu {
  text-align: center;
  padding: 10px;
  margin-bottom: 5px;
  background: rgba(0, 0, 0, 0.4);
  border: 1px solid ghostwhite;
  color: whitesmoke;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.sideMenu:hover {
  background: rgba(255, 1, 1, 0.5);
}

.infoPageBG {
  padding: 10px;
  margin-bottom: 5px;
  background: rgba(0, 0, 0, 0.4);
  border: 1px solid ghostwhite;
  color: whitesmoke;
}

.infoPageBG:hover {
  background: rgba(255, 1, 1, 0.5);
}

.paperPageBG {
  background: rgba(0, 0, 0, 0.4);
  border: 1px solid ghostwhite;
  color: whitesmoke;
}

.paperPageBG:hover {
  background: rgba(255, 1, 1, 0.5);
}

.center {
  text-align: center;
}

.iconSize {
  font-size: 48px;
}

.margin10 {
  margin: 10px;
}

.logo {
  margin: 20px auto;
  font-size: 48px;
  color: rgba(255, 0, 0, 0.8);

  cursor: pointer;
}

.logo:hover {
  color: rgba(255, 0, 0, 0.4);
}

.transImage {
  opacity: 0.5;
}

@media screen and (max-width: 600px) {
  .centerContainer {
    margin-top: 120px;
    margin-bottom: 40px;
  }

  .pp {
    margin-top: 250px;
    margin-bottom: 40px;
  }

  .ppp {
    margin-top: 350px;
    margin-bottom: 40px;
  }

  .pppp {
    margin-top: 400px;
    margin-bottom: 40px;
  }
}
